// See available variables
// https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

$redribbon = #e84a5f

 @require '../node_modules/vuetify/src/stylus/settings/_colors.styl'
$red.base = $redribbon

// $theme := {
//   primary: $redribbon
//   accent: #FFC107
//   secondary: #00796B
//   info: #B2DFDB
//   warning: $red.base
//   error: $red.base
//   success: $green.base
// }