// @import '_colors'
@import '~vuetify/src/stylus/main'

.image
  max-width: 100%

.has-text-centered
  text-align: center

.login-box-wrapper
  padding: 1rem

.logo-wrapper
  margin-bottom: 1rem

td .list-item
    height: 48px
    overflow: hidden